<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update your password</title>
        <link rel="stylesheet" href="/styles/global.css" />
    </head>
    <body>
        <div class="card">
            <h1>Update your password</h1>

            <form action="/updatepassword" method="POST">
                <label for="password">Enter your old password</label>
                <input
                    type="password"
                    name="oldpassword"
                    id="oldpassword"
                    placeholder="Old password"
                    required
                />
                <label for="password">Enter your new password</label>
                <input
                    type="password"
                    name="newpassword"
                    id="newpassword"
                    placeholder="New password"
                    required
                />
                <label for="password">Confirm password</label>
                <input
                    type="password"
                    name="confirmpassword"
                    id="confirmpassword"
                    placeholder="Confirm password"
                    required
                />
                <button type="submit">Update Password</button>
                <div class="error">
                    <% if (error) { %>
                    <p><%= error %></p>
                    <% } %>
                </div>
            </form>
        </div>
    </body>
</html>
